{% extends 'OxygenDatagridBundle::blocks.html.twig' %}

{% block grid_column_bookings_cell %}
<a href="{{ path('oxygen_passbook_booking_list', { eventId: row.getField('id') }) }}" class="btn">
	<span class="badge badge-success">{{ value }}</span>&nbsp;
	{{ 'oxygen_passbook_event_booking.list_booking'|trans }}
</a>
&nbsp;
<a href="{{ path('oxygen_passbook_booking_add', { eventId: row.getField('id') }) }}" class="btn btn-primary">
	{{ 'oxygen_passbook.booking.add'|trans }}
</a>
{% endblock %}

{% block grid_column_description_cell %}
{{ value|nl2br }}
{% endblock %}
