{% extends oxygen_layout() %}

{% form_theme form 'OxygenPassbookBundle:Event:forms_template.html.twig' %}

{% block oxygen_passbook_title %}
{{ 'oxygen_passbook.event_product.section_name'|trans({ '%event%': event.getName() }) }} > {{ 'oxygen_passbook.event_product.create'|trans }}
{% endblock oxygen_passbook_title %}

{% block oxygen_passbook_content %}
{{ parent() }}
<div>
	<form method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	{{ form_rest(form) }}
	<p>
		<input formnovalidate type="submit" value="{{ 'oxygen_passbook.event_product.save'|trans }}" class="btn btn-primary" />
	</p>
	</form>
</div>
{% endblock oxygen_passbook_content %}
