{% extends 'OxygenDatagridBundle::blocks.html.twig' %}

{% block grid_column_products_cell %}
<a href="{{ path('oxygen_passbook_event_product_list', {'eventId': row.getField('id') }) }}"><span class="badge badge-success">{{ value }}</span></a>
&nbsp;
<a href="{{ path('oxygen_passbook_event_product_edit', {'eventId': row.getField('id') }) }}" class="btn btn-small"><i class="icon-plus-sign"></i>&nbsp;Ajouter</a>
{% endblock %}

{% block grid_column_description_cell %}
{{ value|nl2br }}
{% endblock %}

{% block grid_column_type_cell %}
{{ ('event_type.'~value~'.name')|trans }}
{% endblock %}
