{% extends oxygen_layout() %}

{% block oxygen_passbook_title %}
{{ 'oxygen_passbook.event.section_name'|trans }}
{% endblock oxygen_passbook_title %}

{% block oxygen_passbook_content %}
{{ parent() }}
<p>
	{{ 'oxygen_passbook.event.help'|trans }}.<br />
	{{ 'oxygen_passbook.event.example'|trans }}
</p>
<p>
	<a href="{{ path('oxygen_passbook_event_edit') }}" class="btn btn-primary">{{ 'oxygen_passbook.event.create'|trans }}</a>
</p>
{{ grid(grid) }}
{% endblock oxygen_passbook_content %}
